<div class="row mb-5">
  <div class="col s12 m10 offset-m1">
    <div class="post" data-post-id="{{post.id}}">
      <h2>{{post.title}}</h2>
      <h5>Created by {{post.username}} on {{post.date}}</h5>
      <p>{{post.body}}</p>
    </div>
  </div>
</div>
<script src="/js/editPost.js"></script>